<!DOCTYPE html>
<html>
  <head>
    <title>Moonshot: Lexitron Launcher</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="fonts/stylesheet.css">
    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/moonshot-reveal.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="rom-check" class="page">
      <h1>
        ROM CHECK
      </h1>
      <h2>
      Press <img src="images/button1.png"> to connect joysticks.
      <br>
      Hold the <span style="color: #004400">LEX</span> button to continue.
      </h2>
      <div id="other-inputs" class="input-status">
        <span class="name">Main buttons</span>
        <ul>
          <li class="action input">LEX button</li>
          <!--
            <li class="start1 input">start1</li>
            <li class="start2 input">start2</li>
            <li class="start3 input">start3</li>
            <li class="start4 input">start4</li>
            <li class="coin1 input">coin1</li>
            <li class="coin2 input">coin2</li>
          -->
        </ul>
      </div>
      <div id="stick0" class="input-status">
        <span class="name">Not connected</span>
        <ul>
          <li class="up input">^</li>
          <li class="left input">&lt;=</li>
          <li class="down input">v</li>
          <li class="right input">=&gt;</li>
          <li class="button1 input">1</li>
          <li class="button2 input">2</li>
          <li class="button3 input">3</li>
          <li class="button4 input">4</li>
          <li class="button5 input">5</li>
          <li class="button6 input">6</li>
        </ul>
      </div>
      <div id="stick1" class="input-status">
        <p class="name">Not connected</p>
        <ul>
          <li class="up input">^</li>
          <li class="left input">&lt;=</li>
          <li class="down input">v</li>
          <li class="right input">=&gt;</li>
          <li class="button1 input">1</li>
          <li class="button2 input">2</li>
          <li class="button3 input">3</li>
          <li class="button4 input">4</li>
          <li class="button5 input">5</li>
          <li class="button6 input">6</li>
        </ul>
      </div>
      <div id="stick2" class="input-status">
        <p class="name">Not connected</p>
        <ul>
          <li class="up input">^</li>
          <li class="left input">&lt;=</li>
          <li class="down input">v</li>
          <li class="right input">=&gt;</li>
          <li class="button1 input">1</li>
          <li class="button2 input">2</li>
          <li class="button3 input">3</li>
          <li class="button4 input">4</li>
          <li class="button5 input">5</li>
          <li class="button6 input">6</li>
        </ul>
      </div>
      <div id="stick3" class="input-status">
        <p class="name">Not connected</p>
        <ul>
          <li class="up input">^</li>
          <li class="left input">&lt;=</li>
          <li class="down input">v</li>
          <li class="right input">=&gt;</li>
          <li class="button1 input">1</li>
          <li class="button2 input">2</li>
          <li class="button3 input">3</li>
          <li class="button4 input">4</li>
          <li class="button5 input">5</li>
          <li class="button6 input">6</li>
        </ul>
      </div>
    </div> <!-- rom-check page end -->

    <div id="moonshot" class="page">
      <ul id="scene">
        <li class="layer" data-depth="0.7">
          <div class="entity dude" data-entity="dude">
            <img id="dudeJump" src="images/dudeJump.svg" height="140" width="160" hidden></img>
          </div>
        </li>
        <li class="layer" data-depth="0.7">
          <div class="pc1 obstacle"></div>
        </li>
        </li>
        <li class="layer" data-depth="0.7">
          <div class="barrel1 obstacle"></div>
        </li>
        <li class="layer" data-depth="0.7">
          <div class="entity horsie" data-entity="horsie">
            <img id="horsieJump" src="images/horsieJump.svg" height="140" width="160" hidden></img>
          </div>
        </li>
        <li class="layer" data-depth="1">
          <div class="grass floorAnim">
          </div>
        </li>
      </ul>
      <div class="reveal">
        <div class="slides">
          <section>
            <section class='autoslide-5000'>
              <img src="images/RunJumpDevScreen.png">
            </section>
            <section class='autoslide-5000'>
              <h1>Run! Jump! Dev!</h1>
              <h2>About us!</h2>
            </section>
            <section class='autoslide-5000'>
              <h1>Run! Jump! Dev!</h1>
              <h2>Sponsors!</h2>
            </section>
          </section>
          <script type="text/template" class="template">
            <% for ( var idx in rc.games) { var game = rc.games[idx]; %>
              <section class='game' data-slug='<%= game.slug %>'>
                <section class='autoslide-5000'>
                  <img src='../games/<%- game.slug+"/"+game.images[0] %>' />
                </section>
                <section class='autoslide-5000'>
				<div style="padding: 20x; float: left; width: 850px;">
                  <% if (game.images[1]) { %>
   				  <img src='../games/<%- game.slug+"/"+game.images[1] %>' width="768" height="432" style="padding: 20px;" />
                  <% } else { %>
   				  <img src='../games/<%- game.slug+"/"+game.images[0] %>' width="768" height="432" style="padding: 20px;" />
                  <% } %>
                  <% if (game.images[2]) { %>
   				  <img src='../games/<%- game.slug+"/"+game.images[2] %>' width="768" height="432" style="padding: 20px;" />
                  <% } else { %>
   				  <img src='images/blank.png' width="768" height="432" style="padding: 20px;" />
                  <% } %>
				 </div>
                  <h1>
                    <%= game.name %>
                  </h1>
                  <h2>
                    by <span><%= game.byline %></span>
                  </h2>
                  <h3 style="line-height: 1.3"><%= game.description %></h3>
				  <h3 style="font-size: 2em; padding-top: 20px;"><%= game.players %></h3>
				  <h3 style="font-size: 2em; padding-top: 10px;"><%= game.platforms %></h3>
				  <h3 style="font-size: 2em; padding-top: 10px; word-spacing: 50px;">
                  <% if (game.gamewebsite) { %>
                      <span class="website"><%= game.gamewebsite %></span>
                  <% } %>
                  <% if (game.gametwitter) { %>
                      <span class="twitter">@<%= game.gametwitter %></span>
                  <% } %>
                  <% if (game.gamefacebook) { %>
                      <span class="facebook">facebook.com/<%= game.gamefacebook %></span>
                  <% } %>

                  <h3 style="line-height: 1.3; padding-top: 80px;"><%= game.devabout %></h3>
				  <h3 style="font-size: 2em; padding-top: 10px; word-spacing: 50px;">
                  <% if (game.devwebsite) { %>
                      <span class="website"><%= game.devwebsite %></span>
                  <% } %>
                  <% if (game.devtwitter) { %>
                      <span class="twitter">@<%= game.devtwitter %></span>
                  <% } %>
                  <% if (game.devfacebook) { %>
                      <span class="facebook">facebook.com/<%= game.devfacebook %></span>
                  <% } %>
                </section>
              </section>
            <% } %>
          </script>
        </div>
      </div>
    </div> <!-- moonshot page end -->

    <script src="lib/vendor/jquery-2.0.3.min.js"></script>
    <script src="lib/vendor/underscore-min.js"></script>
    <script src="lib/vendor/parallax.js"></script>
    <script src="lib/vendor/reveal.js"></script>
    <script>
      $('#moonshot').hide();

      var Gamepad  = require('./lib/vendor/gamepad.js').Gamepad;
      var Input    = require('./lib/input.js').Input;
      var Moonshot = require('./lib/moonshot.js').Moonshot;
      var RomCheck = require('./lib/rom_check.js').RomCheck;

      var gamepad   = new Gamepad();
      var rom_check = new RomCheck();
      var moonshot  = new Moonshot();
      var input     = Input.instance()
      input.init(gamepad);

      rom_check.launch(input, function() {
        $('#rom-check').hide();
        $('#moonshot').fadeIn();
        moonshot.launch(input, Reveal, Parallax);
      });
    </script>
  </body>
</html>
