<!DOCTYPE html>
<html>
  <head>
    <title>Moonshot: Lexitron Launcher</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="fonts/stylesheet.css">
    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/moonshot-reveal.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="rom-check" class="page">
      <h1>
        ROM CHECK
      </h1>
      <h2>
      Press <img src="images/button1.png"> to connect each joystick.
      <br>
      Hold <img src="images/action.png" title="Action"> to shoot the moon.
      </h2>
      <div id="other-inputs" class="input-status">
        <span class="name">Main buttons</span>
        <ul>
          <li class="action input">action</li>
          <li class="start1 input">start1</li>
          <li class="start2 input">start2</li>
          <li class="start3 input">start3</li>
          <li class="start4 input">start4</li>
          <li class="coin1 input">coin1</li>
          <li class="coin2 input">coin2</li>
        </ul>
      </div>
      <div id="stick0" class="input-status">
        <span class="name">Not connected</span>
        <ul>
          <li class="up input">^</li>
          <li class="left input">&lt;=</li>
          <li class="down input">v</li>
          <li class="right input">=&gt;</li>
          <li class="button1 input">1</li>
          <li class="button2 input">2</li>
          <li class="button3 input">3</li>
          <li class="button4 input">4</li>
          <li class="button5 input">5</li>
          <li class="button6 input">6</li>
        </ul>
      </div>
      <div id="stick1" class="input-status">
        <p class="name">Not connected</p>
        <ul>
          <li class="up input">^</li>
          <li class="left input">&lt;=</li>
          <li class="down input">v</li>
          <li class="right input">=&gt;</li>
          <li class="button1 input">1</li>
          <li class="button2 input">2</li>
          <li class="button3 input">3</li>
          <li class="button4 input">4</li>
          <li class="button5 input">5</li>
          <li class="button6 input">6</li>
        </ul>
      </div>
      <div id="stick2" class="input-status">
        <p class="name">Not connected</p>
        <ul>
          <li class="up input">^</li>
          <li class="left input">&lt;=</li>
          <li class="down input">v</li>
          <li class="right input">=&gt;</li>
          <li class="button1 input">1</li>
          <li class="button2 input">2</li>
          <li class="button3 input">3</li>
          <li class="button4 input">4</li>
          <li class="button5 input">5</li>
          <li class="button6 input">6</li>
        </ul>
      </div>
      <div id="stick3" class="input-status">
        <p class="name">Not connected</p>
        <ul>
          <li class="up input">^</li>
          <li class="left input">&lt;=</li>
          <li class="down input">v</li>
          <li class="right input">=&gt;</li>
          <li class="button1 input">1</li>
          <li class="button2 input">2</li>
          <li class="button3 input">3</li>
          <li class="button4 input">4</li>
          <li class="button5 input">5</li>
          <li class="button6 input">6</li>
        </ul>
      </div>
    </div> <!-- rom-check page end -->

    <div id="moonshot" class="page">
      <ul id="scene">
        <li class="layer" data-depth="0.7">
        </li>
        <li class="layer" data-depth="0.6">
          <div class="entity horsie" style="zoom:0.6"></div>
        </li>
        <li class="layer" data-depth="1">
          <div class="entity dude runRight dudeRunAnim" style="zoom:0.7"></div>
          <div class="grass floorAnim"></div>
        </li>
      </ul>
      <div class="reveal">
        <div class="slides">
          <section>
            <section>
              <img src="images/RunJumpDev.png">
            </section>
            <section>
              <h1>Run! Jump! Dev!</h1>
              <h2>About us!</h2>
            </section>
            <section>
              <h1>Run! Jump! Dev!</h1>
              <h2>Sponsors!</h2>
            </section>
          </section>
          <script type="text/template" class="template">
            <% for ( var idx in rc.games) { var game = rc.games[idx]; %>
              <section class='game' data-slug='<%= game.slug %>'>
                <section class='autoslide-5000'>
                  <img src='games/<%- game.slug+"/"+game.images[0] %>' />
                </section>
                <section class='autoslide-5000'>
                  <h1>
                    <%= game.name %>
                  </h1>
                  <h2>
                    by <span><%= game.byline %></span>
                  </h2>
                  <% if (game.website) { %>
                    <h3 class="website">
                      <span><%= game.website %></span>
                    </h3>
                  <% } %>
                  <% if (game.twitter) { %>
                    <h3 class="twitter">
                      @<span><%= game.twitter %></span>
                    </h3>
                  <% } %>
                  <% if (game.facebook) { %>
                    <h3 class="facebook">
                      facebook.com/<span><%= game.facebook %></span>
                    </h3>
                  <% } %>
                  <p><%= game.description %></p>
                </section>
              </section>
            <% } %>
          </script>
        </div>
    </div>
    </div> <!-- moonshot page end -->

    <script src="lib/vendor/jquery-2.0.3.min.js"></script>
    <script src="lib/vendor/underscore-min.js"></script>
    <script src="lib/vendor/parallax.js"></script>
    <script src="lib/vendor/reveal.js"></script>
    <script>
      $('#moonshot').hide();

      var Gamepad  = require('./lib/vendor/gamepad.js').Gamepad;
      var Input    = require('./lib/input.js').Input;
      var Moonshot = require('./lib/moonshot.js').Moonshot;
      var RomCheck = require('./lib/rom_check.js').RomCheck;

      var gamepad   = new Gamepad();
      var rom_check = new RomCheck();
      var moonshot  = new Moonshot();
      var input     = Input.instance()
      input.init(gamepad);

      rom_check.launch(input, function() {
        $('#rom-check').hide();
        $('#moonshot').fadeIn();
        moonshot.launch(input, Reveal, Parallax);
      });
    </script>
  </body>
</html>
